.recipes {
  padding: 40px 100px 0 60px;
}

.recipes__title {
  max-width: 856px;
  font-size: 57px;
  margin: 0;
  padding: 0 30px 20px 30px;
  border-bottom: 1px solid black;
}

.recipes__card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
}
