.filter {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 6px 12px;
}

.filter:hover {
  /* opacity: 0.6; */
}

.filter__button {
  background-color: transparent;
  border: none;
}

.filter__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.filter__icon {
  position: relative;
  width: 36px;
  height: 18px;
}

.filter__icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.filter__icon_open {
  transform: rotate(180deg);
}

.filter__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 290px;
}

.filter__option {
  font-size: 24px;
  background-color: rgb(217, 217, 217);
  padding: 10px;
}

.filter__option:hover {
  cursor: pointer;
  background-color: gray;
}
