.profile {
  padding: 50px 0 40px 30px;
}

.profile__user-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.profile__avatar-wrapper {
  border: 4px solid black;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #1cb6d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateY(10px);
}

.profile__username {
  font-size: 36px;
  margin: 0;
}

.profile__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
