.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000006d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 40px 50px 50px 60px;
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.modal__close-icon {
  width: 22px;
  height: 21px;
}

.modal__close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__recipe-title {
  margin: 0;
  font-size: 32px;
  overflow: scroll;
  max-width: 750px;
}

.modal__recipe-stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}

.modal__recipe-stat {
  margin: 20px 0 25px 0;
  border-right: 1px solid black;
  padding: 3px 20px;
}

.modal__recipe-stat:first-of-type {
  padding-left: 0;
}

.modal__recipe-stat:last-of-type {
  border-right: none;
  padding-right: 0;
}

.modal__recipe-stat_bold {
  font-weight: 700;
}

.modal__switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
  background-color: transparent;
  font-weight: 700;
  padding-top: 45px;
}

.modal__switch-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__arrow {
  width: 33px;
  height: 24px;
}
