.app {
  background-color: #fff;
  margin: 0;
  max-width: 1440px;
  text-wrap: nowrap;
  font-size: 32px;
  /* For Cards  */
  /* font-family: "Lora", Georgia, "Times New Roman", Times, serif; */
  font-family: "VictorMono", Courier, monospace;
}

.app__content {
  margin: 0 auto;
}

.app__section {
  margin-top: 100px;
}
