.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.instructions__title {
  padding: 0 140px;
  font-size: 36px;
  margin: 0;
  text-wrap: wrap;
  text-align: center;
}
