.modal__instructions-title {
  margin: 0;
}

.modal__instructions-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-left: 45px;
  max-height: 200px;
  overflow-y: scroll;
}

.modal__instructions-none {
  margin: 0;
  padding: 20px 45px 0 0;
  white-space: wrap;
  line-height: 1.5;
}

.modal__switch-button_instructions {
  margin-right: auto;
}
