.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: linear-gradient(to right, #fff 0%, #f9e83f 20%, #fe4747 100%);
  font-family: "Victor Mono", "Fira Code", "Source Code Pro", "Courier New",
    Courier, monospace;
}

.header__logo {
  background: #000;
  width: 47px;
  height: 47px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOVE TO NAVBAR COMPONENT */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.navbar__link {
  font-size: 24px;
}

.navbar__link:hover {
  cursor: pointer;
  color: #6ea547;
}

.header__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 18px 0 18px 30px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}

.header__username {
  font-size: 24px;
  margin: 0;
  padding: 0 12px 0 20px;
}

.header__avatar {
  border: 1px solid black;
  background: teal;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
