.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.navbar__links {
  list-style: none;
  display: flex;
  gap: 26px;
}

.navbar__link-container {
  color: black;
  text-decoration: none;
}

.navbar__link {
  font-size: 24px;
}

.navbar__link:hover {
  cursor: pointer;
  color: #6ea547;
}

@media (max-width: 600px) {
  .navbar__links {
    padding: 0;
    margin: 0;
  }

  .navbar__link {
    font-size: 18px;
  }
}
