.auth {
  display: flex;
  gap: 13px;
}

.auth__button {
  padding: 8px 14px;
  border-radius: 10px;
}

.auth__button:hover {
  cursor: pointer;
  background-color: #adff76;
}

.auth__login-button {
  background-color: #8ed65b;
}

.auth__register-button {
  background-color: #6ea547;
}
